.communication {
  position: relative;
  margin: 0 auto 10px auto;
  padding: 20px 10px;
  cursor: default;
}

.communication-author {
  margin: 0;
}

.communication-title {
  margin-top: 5px;
}

.communication-journal {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.6);
}

.communication-date {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.6);
}

.date-icon {
  margin-right: 10px;
}

.communication-access-url {
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px 10px 0 auto;
  width: fit-content;
  padding: 0 10px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.communication-access-url:hover {
  color: white;
  background-color: #126e62;
  border-color: white;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

@media (min-width: 768px) {
  .communication {
    padding: 20px 30px;
  }
}
