.footer-container{
    background-color: #126e62;
    padding: 5px 10px;
    color: white;    
}

.footer-container *{
    cursor: default;
}

.infos{
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 17% auto;
}

.usdb-logo{
    cursor: pointer;
    width: 100%;
    min-height: 60px;
}

.usdb-logo *{
    cursor: pointer;
    fill: white !important;
    stroke: white !important;
    transition: fill 200ms, stroke 200ms;
}

.usdb-link{
    width: 30%;
}

.usdb-link:hover .usdb-logo *{
    fill: rgb(175, 175, 175) !important;
    stroke: rgb(175, 175, 175) !important;
    transition: fill 200ms, stroke 200ms;
    user-select: none;
}

.infos .titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 15px auto 0 auto;
}

.infos .title{
    text-align: center;
    font-size: small;
    margin: 0;
}

.infos .title1{
    font-weight: 700;
}

.infos .title2{
    font-weight: 500;
}

.infos .title3{
    font-weight: 300;
}


.footer-buttons{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
}

.footer-btn{
    text-decoration: none;
    background-color: white;
    color: #126e62;
    font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
    height: 35px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 3px 0;
    transition: all .15s ease-in-out;
}

.footer-btn *{
    cursor: pointer;
}


.footer-btn:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.copyright{
    font-size: small;
    width: fit-content;
    margin: 10px auto 0 auto;
}


@media (min-width: 576px){
    .footer-container{
        padding: 20px;
        padding-bottom: 5px;
    }
    
    .infos{
        gap: 0;
        grid-template-columns: 17% auto 17%;
        grid-template-rows: auto;
    }

    .usdb-link{
        width: 100%;
    }

    .infos .titles{
        margin: 25px auto 20px auto;
    }

    .infos .title{
        font-size: initial;
    }
}