.body-page{
    background-color: #d3e0de;
}
.titre{
    text-align: center;
    color:#25aa35 ;
    font-weight: 500;
    font-size:25px;
    text-decoration: underline;
}
.text {
    color: rgb(47, 45, 45);
}
.info{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}
.content-info{
    display: flex;
}
.content-info img{
    width: 45px;
    align-self: center;
}
.content-info p{
    margin-left: 15px;
}
.content-info a{
    text-decoration: none;
    color: black;
}