.page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  margin: 10px auto;
  padding: 20px 50px;
  min-width: 50%;
  max-width: 100%;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 61px -30px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  user-select: none;
  cursor: default;
  position: relative;
}

.card:hover {
  transform: scale(1.03, 1.03);
  transition: all 0.5s;
}

.tab{
    margin: 0;
}

.length {
  margin: 0 0 0 auto;
}


.tab.link {
  margin-left: auto;
  font-weight: 700;
  color: #126e62;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab.link * {
  margin: 0 5px;
}

.tab.link:hover * {
  color: #0c463e;
}

@media (min-width: 768px) {
  .page {
    flex-direction: row;
  }

  .card {
    margin: 40px auto;
    min-width: auto;
    max-width: auto;
  }
}
