.App {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: white;
  min-height: 120vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.humberger-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 10px;
}

.page-body {
  flex: 1;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.content-page {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.spinner {
  align-self: center;
  margin-top: 40px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error-msg {
  background-color: rgb(236, 136, 136);
  padding: 10px;
  margin-top: 40px;
  width: fit-content;
  font-weight: bolder;
  color: white;
  border: solid 2px rgb(187, 97, 97);
  border-radius: 10px;
  align-self: center;
}

.error-msg-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: center;
}

.react-tabs__tab {
  width: 20%;
  text-align: center;
  font-size: larger;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.25s;
}

.react-tabs__tab:not(.react-tabs__tab--selected):hover {
  background-color: rgb(173, 173, 173);
  transition: background-color 0.25s;
}

.projects-section {
  margin-top: 20px;
}

.pub-event-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.pub-event-content .content {
  width: 100%;
  margin: 0;
  padding-top: 10px;
}

.react-tabs__tab-panel--selected {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pubevent-tab-list {
  margin: 0 !important;
}

.pubevent-tab-list > li{
  width: fit-content;
}

.separator {
  width: 90%;
  margin-bottom: 0;
}

.thesmemo-tab-list {
  margin-bottom: 0 !important;
}

.home-content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ################ Contact ############## */
.contact {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}
.contact .container {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forme {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
}

/* =========== sm =========== */
@media (min-width: 576px) {
  .forme {
    width: 80%;
  }
}

/* =========== md =========== */
@media (min-width: 992px) {
  .App {
    margin: 50px 80px;
  }

  .pub-event-content {
    flex-direction: row;
    padding: 30px;
  }

  .forme {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
  }
}
